.embed-responsive-item{
    border-radius:10px ;
    height: 500px;
    width: 100%;

}

h3{
    font-family: shanghai;
    letter-spacing: 5pt;
}

span{
    font-family: Arial, sans-serif;
    letter-spacing: 3pt;
}
.btn{
    letter-spacing: 3pt;
    font-family: Arial, sans-serif;   
  }
  .btn:hover{
    background-color: #a85454;
    border: #a85454;
  }
 h4{
    font-family: shanghai;
    letter-spacing: 5pt;   
 }

 /* cabecera y footer */
  
  .footer{
      background: #222222;
      color:white;
    }
  h4{
    font-family: shanghai;
    letter-spacing: 5pt;
  }
  p{
    font-family: Arial,sans-serif;
    letter-spacing: 3pt;
    font-size: 13px;
  }
    .links  a :hover {
        list-style-type:none;
        color:#a85454;
        transition: color .2s;
        text-decoration:none;
    }
    a{
      color: white;
    }  
    .about-company {
      /* font-size: 15px; */
      color:white;
      transition: color .2s;
   
    }
  
    .location i {
      font-size: 18px;
    }