<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="imagen">
        <img class="pb-5" src="assets/images/about.jpg" width="100%" >          
    </div>

    <div class="container">
    <div class="row">
        <div class=" col-md-12 text-center text-justify pt-5">
            
            <span>Chifa "Chau Fan"</span>
            <h3>Historia de Superacion</h3>
            <p>
                Todo empezó en el año 2010 cuando el Sr. Gastón Lopez empezó con un 
                sueño emprendedor , abrir un pequeño local de comidas orientales . 
                Con un reducido comedor, un par de mesas, sillas empezó esta travesía.
                En ese comienzo “CHAUFAN” no tenía un nombre ,pero esto no fue impedimento 
                para el crecimiento ,nuestra sazón y calidad de servicio se hacía cada vez más
                fuerte.Ya a mediados de 2012 “CHAUFAN ” se hizo realidad, nuestro crecimiento
                fue admirable aumentamos en infraestructura, fama ; y nos convertimos en “CHAUFAN”.
                En pleno 2019 somos una opción preferida a nivel de Huancayo con miras a sedes en Chilca y El Tambo.
            </p>
        </div>
    </div>
    </div>

<div class="container">
        <div class="row"> 
                <div class="col-md-6 mt-5 text-center">
                    <span>Nuestra</span>
                        <h3>Mision</h3>
                        <p>
                            Elaborar la mejor comida con una sazón especial, utilizando
                            materia prima de buena calidad, ofrecida atreves de un excelente servicio.
                         </p>  
                </div>
                <div class="col-md-6 mt-5 text-center">
                    <div class="img-hover-zoom img-hover-zoom--xyz">
                        <img src="assets/images/historia.jpeg"  style="width: 70%;" alt="">
                    </div>
                       
                </div>
            </div>
</div>

<div class="container">
    <div class="row"> 
        <div class="col-md-6 mt-5 text-center">
            <div class="img-hover-zoom img-hover-zoom--xyz">
                <img src="assets/images/history1.png"  style="width: 70%; height: 70%;" alt="">
            </div>
                       
    </div>
        <div class="col-md-6 pt-5 pb-5 text-center">
            <span>Nuestra</span>
                <h3>Vision</h3>
                    <p>
                      Ser el mejor restaurante a nivel regional y nacional ,
                      ser reconocido y preferido por los clientes.
                    </p>  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center pt-5 ">
        <span class="contacto">Comunicate con Nosotros</span>
        <a [routerLink]="['/contactenos']">
           <button type="button" class="btn btn-dark" id="butt">Contactenos</button>
        </a>    
    </div>  
</div>
<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4">Contactenos</h4>
              <p class="mb-0"><i class=" fa fa-map-marker mr-3"></i>
                Paseo la breña N° 527 - Huancayo</p>
              <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+51) 964050503</p>
              <p><i class="fa fa-envelope-o mr-3"></i>chifachaufan@gmail.com</p>
            </div>
        <div class="col-lg-5 col-xs-12 about-company">
          <h4>Horario de Atención</h4>
          <p class="pr-5 text-white-50">Hora de atención: 12:00 PM – 11:00 PM <br> 
            Lunes a Domingos</p>
        </div>
  
        
        <div class="col-lg-3 col-xs-12 links">
  
          <h4>Siguenos en</h4>
            <a href="https://web.facebook.com/ChinesseFoodChaufan/"><i class="fab fa-facebook-square mr-2"></i></a>
              <a href="https://www.youtube.com/channel/UCytVb-D6TAIle-oLiNQELvQ/"><i class="fab fa-youtube mr-2"></i></a>
              <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp mr-2"></i></a>
        </div> 
      </div>
    </div>
</div>
</div>



